body{
  background-color: yellow;
}
.header{
  height: 50px;
  margin-top: -5px;
  margin-bottom: 10px;
  width: 120%;

  box-shadow: 20px 1px 5px rgba(255,255,255,0.4);
  position: fixed;
}
.header #logo{
  font-size: 30px;}
.header a{
  float: left;
  text-decoration:none;
  margin-top: -10px;
  margin-left: 10px;
  color: rgba(0,255,0,.8);
}
.header a:hover{
  color: blue
}
.header #logo{
  text-align: center;
  font-family:serif;
  padding-top: 5px;
  color: rgba(0,255,0,1);
}
/*Home Page */
.page{
  font-family:inherit;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  padding: 20px;
}

#homepage{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Seattle_Columbia_Pano2.jpg/1000px-Seattle_Columbia_Pano2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#homepage h2{
  margin-top: 10%;
  margin-left: 35%;
  color: rgba(0,255,0,0.9);
}

/*Second Page*/
#methodsContent{
  float: left;
  color: lightgreen;
}
#methodPageLeftContent{
  float: left;
  width: 100%;
}
/*video*/
#video{
 float: center;
}

/*pricing page*/
#pricing{
  color: lightgreen;
}
#base{
  float: left;
  width: 33%;
}
#silver{
  float: left;
  width: 33%;
}
#platinum{
  float: left;
  width: 33%;
}
#attibutes{
  color:lightgreen
}
