body{
  background-color: lightgray;
}
.header{
  height: 50px;
  margin-top: -5px;
  width: 120%;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 20px 1px 5px rgba(255,255,255,0.4);
  position: fixed;
}
.header #logo{
  font-size: 30px;
}
.header a{
  float: left;
  text-decoration:none;
  margin-top: -10px;
  margin-left: 10px;
  color: rgba(0,255,0,.8);
}
.header a:hover{
  color: blue
}
.header #logo{
  text-align: center;
  font-family:serif;
  padding-top: 5px;
  color: rgba(0,255,0,1);
}
/*Home Page */
.page{
  font-family:inherit;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  height: 500px;
  border: lightgray;
  border-style: solid;
  padding: 20px;
}
.page p{
  font-size: 18px;
}
#home{
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Seattle_Columbia_Pano2.jpg/1000px-Seattle_Columbia_Pano2.jpg');
      background-repeat: no-repeat;
      background-size:cover;
      height: 290px;
}
#home h2{
  text-align: center;
  font-family: inherit;
  font-size: 30px;
  margin-top: 100px;
  color: rgba(0,255,0,1);

}
.page h3{
  text-align: center;
  color: black;
}
/*About us Page*************************/
.boxContainer{
  background-color: lightgray;
  margin-top: 10px;
  border-radius: 15px;
  border-bottom: solid;
  padding: 5px;
}

/*Methods Page**************************/
.methods li{
  color: black;
  font-weight: bold;
}
/*Contact Us Page ******************/
.contactPage{
  font-family:inherit;
  width: 100%;
  border-radius: 10px;

}
.contactContainer{
  width: 70%;
  margin: 0 auto;
  margin: : -20px;
}
.contactPage h2{
text-align: center;

}
input[type=text], select, textarea{
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 10px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally)*/
}
input[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*Call to action page******************************/
#callToAction{
  height: 200px;
}
#endLogo{

}
#legals{
text-align: center;
padding-top: 150px;
}
